th {
background-color: yellow; 
border: solid;
width: 20%;
}

td {
border: 3px dotted blue;
}

table {
border-collapse: collapse;
text-align: center;
margin: auto;
width: 650px;
}

h1 {
text-align: center;
color: green;
}
.red {
color: red;
}
.blue {
color: blue;
}

body {
font-family: Verdana;
}